# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET MAUI
Resource.designer.cs

# Visual Studio for Mac
.vscode/
.idea/
*.apk
*.aab
*.ipa
*.dSYM.zip
*.dSYM

# NuGet
packages/
*.nupkg
# NuGet Symbol Packages
*.snupkg

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini

# Node.js
node_modules/